.mainAddButton {
  background-color: #d1411e;
  color: white;
  padding: 0.4rem 0.6rem;
  width: 8rem;
  border: 1px solid rgb(231, 225, 225);
  border-radius: 1rem;
  cursor: pointer;
  text-align: center;
  margin-top: 3rem;
  margin-left: 3rem;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(245, 240, 240, 0.52);
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  width: 31rem;
  background-color: white;
  padding: 3rem 3rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}
.close {
  width: 2rem;
  height: 2rem;
  background-color: black;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 2%;
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}
.label {
  margin-bottom: 0.5em;
  font-size: 1em;
  font-weight: 500;
}
.input {
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
}
.inputSm {
  width: 25%;
}
.extra {
  display: flex;
  justify-content: space-between;
}
.extraItems {
  margin: 0.5em 0em;
  display: flex;
  flex-wrap: wrap;
}
.extraItem {
  padding: 0.1em 0.5em;
  font-size: 1em;
  border: 1px solid tomato;
  background-color: white;
  color: tomato;
  margin-right: 0.4em;
  border-radius: 0.7em;
  cursor: pointer;
}
.addButton {
  background-color: #d1411e;
  color: white;
  padding: 0.4rem 1.7em;
  border: 1px solid rgb(231, 225, 225);
  border-radius: 1rem;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-self: flex-end;
  justify-content: center;
}
