.container {
  height: calc(100vh - 100px);
  background-color: #222;
  display: flex;
  overflow: hidden;
  justify-content: center;
  padding: 1rem;
}
.item {
  flex: 1;
  position: relative;
  display: flex;
  padding-left: 1rem;
}
.item:last-child {
  flex: 2;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.card {
  flex: 1;
  padding: 0 20px;
}
.title {
  font-size: 18px;
  color: #b7903c;
}
.text {
  color: lightgray;
}
.motto {
  text-align: center;
  color: rgb(211, 211, 211);
}
@media screen and (max-width: 768px) {
  .container {
    height: auto;
    text-align: center;
  }
  .item:first-child {
    display: none;
  }
  .item {
    flex-direction: column;
  }
  .title {
    font-size: 30px;
  }
  .text {
    font-size: 20px;
  }
}
